body {
  /* background-image: url("back.jpg"); */
  width: 100%;
  font-family: 'Raleway', sans-serif !important;
}

/* .outerdiv {
  position: sticky;
} */

.navlinkstyle {
  color: #000 !important;
}

.navlinkstyle:hover {
  border-bottom: 1px solid #000;
}
.second-div {
  text-align: center;
  position: relative;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.9) 100%
  ), url("./assets/hero.jpg");
  background-size: cover;
  background-position-y: 20%;
}
.aboutContent {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ), url("./assets/about.jpg");
  background-size: cover;
  background-position-y: 55%;
  padding: 10% 0 !important;
  color: #fff;
}
.abouthack {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ), url("./assets/hackathon-group.jpg") !important;
  background-size: cover;
  background-position-y: 55%;
  padding: 10% 0 !important;
  color: #fff;
}
.social {
  /* background-color: #fff; */
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
}
.social:hover {
  color: #999;
}
.second-div-content {
  color: white;
  font-weight: bold;
}
.register {
  margin-top: 2%;
  font-weight: bold;
}
.mentors {
  width: 100%;
  height: 70%;
  background-color: white;
  color: black;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.mentors .inner-mentors {
  position: relative;
  top: 10%;
}
.mentors .mentor-names {
  text-align: center;
}
footer {
  background-color: #000;
  text-align: center;
  padding: 2% 0;
  color: #fff;
}
.home-footer {
  background-color: transparent;
}
.mycards {
  /* margin: 30px; */
  padding: 8% 5%;
  background-image: url("./assets/back.jpg");
}
.rule {
  border: 1px solid #eee;
  border-radius: 10px;
}
.rounded-circle {
  width: 200px;
  height: 200px;
}

.navbar-toggler {
  background-color: #000 !important;
}

#aboutus {
  background-color: white;
  position: relative;
  padding: 10% 0;
}

#aboutus img {
  width: 400px;
  height: 300px;
}

/* .about-right {
  text-align: initial;
}

.about {
  margin: 3% auto;
} */

#contactus {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("./assets/IMG_6489.JPG");
  background-size: cover;
  background-position-y: 32%;
  height: 75%;
  /* padding: 10% 0; */
}

.text-primary {
  color: #000 !important;
}

.contact-container {
  position: relative;
  top: 27%;
}

.social-wrap {
  margin-top: 3%;
}

@media screen and (max-width: 760px) {
  .title {
    font-size: 2rem;
  }
  /* .about-right {
    text-align: initial;
  } */
  #aboutus {
    padding: 0 20px;
  }
  #aboutus img {
    margin-bottom: 10px;
  }
  .mentors {
    height: inherit;
  }
  .mentors .inner-mentors {
    margin: 20px auto;
  }
  .mentors .inner-mentors .col-sm-4 * {
    margin-top: 10px;
  }

  #contactus {
    height: auto;
    background-position-x: 50%;
    position: relative;
    padding-bottom: 10%;
  }

  #contactus .card {
    position: relative;
    top: 20%;
  }

  .social-wrap {
    margin-top: 15% !important;
  }
}
